/*SASS OK*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Serif+Pro:ital,wght@0,600;1,600&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/* BgCNav*/ 
.bgColor01 {
    background-color: #E9E6E1;
}
/*BgCBody*/
*/
.bgColor02 {
    background-color: #868ca724;
}
/*
Transformar en variable
color: #273469;*/
.prefooter-section,
.artist__name,
.member__name {
    color: #273469;
}

.contact-youtube__text {
    margin: 10px 30px;
    text-align: center;
}

.prefooter-section__text {
    text-align:center;
    width: 260px;
}

/*Convertir en map?. NO en variable*/
.ulDefault {
    list-style-type: none;
    padding: 0px;
    text-align: center;
    line-height: 1.5;
}

.btn--azure {
    background-color: rgb(166, 185, 218); /*bgcBtnAzure*/
    border: none; /*SASS OK*/
    font-size: 16px;
    padding: 10px 50px;
    font-weight: 700;
}

.carousel {
    position: relative;
    /* top:300px */
}
.btn--azure:hover {
    background-color: #868ca724; /*bgcLightBlue*/
    color: #273469; /*cStrongBlue SASS variable*/
}

.artist__name,
.member__name {
    font-size: 18px;
}

.artist__desc {
    margin: 20px auto;
    max-width: 470px;
}

.member__img {
    max-width: 250px;
    min-width: 200px;
}

.member__img-container {
    max-height: 230px;
    min-height: 200px;
    overflow: hidden;
}

.member__desc {
    text-align: justify;
}

/*SASS OK*/

.logo {
    margin-top: 5px;
    width: 160px;
    height: 50px;
}

.logo__img {
    width: 56%;
}


.logos-button-container {
    width: 100%;
}

.card {
    border: none;
    border-radius: 25px;
    overflow: hidden;
}

.card {
    transition: all 0.5s;
}
.card:hover {
    transform: scale(1.08);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
}
.card {
    position: relative;
}

.card::after {
    transform: scaleX(0);
    transform-origin: bottom right;
    content: "";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: rgba(13, 14, 13, 0.055);
    z-index: 2;
    transition: transform .3s ease;

}
.card:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.card:hover,
.btn:hover {
    cursor: pointer;
}

.card-text {
    text-align:center;
}

.footer__copyright {
    text-align: left;
    font-size: 12px;
    padding: 20px 0px 10px 0px;
}

.footer {
    background-color:#06080e;
    color: white;
}

.footer__tarjetas {
    width: 100%;
}

.titleDefault,
.footer__subtitle,
.artist__name,
.prefooter__subtitle {
    text-align: center;
    margin: 30px 0px;
}

.anchorDefault {
    text-decoration: none;
    position: relative;
}

.anchorDefault--underline::after{
    display: block;
    position: absolute;
    content: "";
    left: 50%;
    bottom:-1px;
    width: 0%;
    height: 3px;
    background-color: #273469;
    transition: 0.2s;
}

.anchorDefault--underline:hover::after{
    width: 100%;
    left: 0;
}

.contact-youtube {
    height: 340px;
}
.contact-youtube__iframe {
    height: 250px;
}

.artist__img {
    width: 250px;
    height: 220px;
    overflow: hidden;
    border-radius: 50%;
}


.nosotros-section{
    text-align: justify;
}

.search-bar {
    height: 32px;
}
.search-bar__filter {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 0.375rem;
    outline: none;
    height: 100%;
}

/*Convertir en variable*/
.fa-solid--large {
    font-size: 40px;
}

.fa-magnifying-glass {
    font-size: 1rem;
}

.fa-calendar {
	animation: flicker 4s linear infinite both;
}

@keyframes flicker {
    0%,
    100% {
      opacity: 1;
    }
    31.98% {
      opacity: 1;
    }
    32% {
      opacity: 0;
    }
    32.8% {
      opacity: 0;
    }
    32.82% {
      opacity: 1;
    }
    34.98% {
      opacity: 1;
    }
    35% {
      opacity: 0;
    }
    35.7% {
      opacity: 0;
    }
    35.72% {
      opacity: 1;
    }
    36.98% {
      opacity: 1;
    }
    37% {
      opacity: 0;
    }
    37.6% {
      opacity: 0;
    }
    37.62% {
      opacity: 1;
    }
    67.98% {
      opacity: 1;
    }
    68% {
      opacity: 0;
    }
    68.4% {
      opacity: 0;
    }
    68.42% {
      opacity: 1;
    }
    95.98% {
      opacity: 1;
    }
    96% {
      opacity: 0;
    }
    96.7% {
      opacity: 0;
    }
    96.72% {
      opacity: 1;
    }
    98.98% {
      opacity: 1;
    }
    99% {
      opacity: 0;
    }
    99.6% {
      opacity: 0;
    }
    99.62% {
      opacity: 1;
    }
  }
  

.fa-bus-simple {
	animation: vibrate 0.5s linear infinite both;
}
@keyframes vibrate {
    0% {
      
              transform: translate(0);
    }
    10% {
      
              transform: translate(-2px, -2px);
    }
    20% {
      
              transform: translate(2px, -2px);
    }
    30% {
      
              transform: translate(-2px, 2px);
    }
    40% {
      
              transform: translate(2px, 2px);
    }
    50% {
      
              transform: translate(-2px, -2px);
    }
    60% {
      
              transform: translate(2px, -2px);
    }
    70% {
      
              transform: translate(-2px, 2px);
    }
    80% {
      
              transform: translate(-2px, -2px);
    }
    90% {
      
              transform: translate(2px, -2px);
    }
    100% {
      
              transform: translate(0);
    }
  }

@media screen and (min-width:576px) {
    .logo {
        margin-top: 5px;
        width: 160px;
        height: 85px;
    }
    
    .logo__img {
        width: 100%;
    }
    .contact-youtube {
        height: 400px;
    }
    .contact-youtube__iframe {
        height: 350px;
    }
}

@media screen and (min-width:768px) {
    .fa-magnifying-glass {
        font-size: 24px;
    }
    .search-bar {
        height: 40px;
    }
    .contact-youtube {
        height: 500px;
    }
    .contact-youtube__iframe {
        height: 400px;
    }   
}

@media screen and (min-width:992px) {
    .artist__desc {
        width: 100%;
    }
    .logos-button-container {
        width: auto;
    } 
    .logo {
        margin-left: 40px;
    }
    .products-radios__desc{
        font-size: 18px;
    }
    .contact-youtube {
        height: 700px;
    }
    .contact-youtube__iframe {
        height: 550px;
    }
}

@media screen and (min-width:1200px) {
    .contact-youtube {
        height: 400px;
    }
    .contact-youtube__iframe {
        height: 350px;
    }
    .carousel-item--scenario-position {
        top:-50px;
    }
    .carousel-item--saxophonist-position {
        top:-50px;
    }
    .carousel-item--fenderGuitarrist-position {
        top:-50px;
    }
}

@media screen and (min-width:2100px) {
    .navbar-nav {
        font-size: 2.25rem!important;
    }
    .logo {
        width: 9%;
        height: auto;
    }
    .carousel-item {
        position: relative;
        top:auto;
    }
    .carousel-item--scenario-position {
        top:auto;
    }
    .carousel-item--saxophonist-position {
        top:auto;
    }
    .carousel-item--fenderGuitarrist-position {
        top:auto;
    }
    .carousel-inner {
        height: auto;
    }
}