@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Alfa+Slab+One&display=swap");
.fontSize-12 {
  font-size: 12px;
}

.fontSize-14 {
  font-size: 14px;
}

.fontSize-16 {
  font-size: 16px;
}

.fontSize-18 {
  font-size: 18px;
}

.fontSize-20 {
  font-size: 20px;
}

.fontSize-22 {
  font-size: 22px;
}

.fontSize-24 {
  font-size: 24px;
}

.fontSize-26 {
  font-size: 26px;
}

.fontSize-28 {
  font-size: 28px;
}

.fontSize-30 {
  font-size: 30px;
}

.fontSize-32 {
  font-size: 32px;
}

.fontSize-34 {
  font-size: 34px;
}

.fontSize-36 {
  font-size: 36px;
}

.fontSize-38 {
  font-size: 38px;
}

.fontSize-40 {
  font-size: 40px;
}

* {
  font-family: "Montserrat", sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

ol, ul {
  list-style: none;
}

body {
  background-color: rgba(134, 140, 167, 0.1411764706);
}

h1:first-child {
  color: #2B475C;
  width: fit-content;
  padding: 20px;
  margin: 30px auto;
  text-shadow: 2px 2px #43749d;
  font-family: "Alfa Slab One", cursive;
}

.ulDefault {
  padding: 0px;
  text-align: center;
  line-height: 1.5;
}

.anchorDefault {
  text-decoration: none;
  position: relative;
}

.titleDefault {
  text-align: center;
  margin: 30px 0px;
}

.footer__tarjetas {
  width: 100%;
}
.footer__copyright {
  text-align: left;
  padding: 20px 0px 10px 0px;
}
.footer__subtitle {
  font-size: 1.5rem;
  text-align: center;
  margin: 30px 0px;
}

.footer {
  background-color: #06080e;
  color: #ffffff;
}

.logo-container {
  margin-top: 5px;
  width: 160px;
  height: 50px;
  animation: sacudirse 10s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s infinite both;
}
@media (min-width: 992px) {
  .logo-container {
    height: 85px;
    margin-left: 40px;
  }
}
@media (min-width: 2100px) {
  .logo-container {
    height: auto;
  }
}
.logo__img {
  width: 56%;
}
@media (min-width: 992px) {
  .logo__img {
    width: 100%;
  }
}

.logos-button-container {
  width: 100%;
}
@media (min-width: 992px) {
  .logos-button-container {
    width: auto;
  }
}

@keyframes sacudirse {
  0%, 100% {
    transform: translateX(0);
  }
  4%, 8%, 12%, 45% {
    transform: translateX(-10px);
  }
  6%, 10%, 14% {
    transform: translateX(10px);
  }
  17% {
    transform: translateX(8px);
  }
  20% {
    transform: translateX(-8px);
  }
}
.prefooter-section {
  color: #273469;
}
.prefooter-section__text {
  text-align: center;
  width: 260px;
}
.prefooter-section a {
  text-decoration: none;
  color: #273469;
}
.prefooter__subtitle {
  font-size: 1.5rem;
  text-align: center;
  margin: 30px 0px;
}

.fa-solid--large {
  font-size: 40px;
}
.fa-calendar {
  animation: flicker 4s linear infinite both;
}

@keyframes flicker {
  0%, 100% {
    opacity: 1;
  }
  31.98% {
    opacity: 1;
  }
  32% {
    opacity: 0;
  }
  32.8% {
    opacity: 0;
  }
  32.82% {
    opacity: 1;
  }
  34.98% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  35.7% {
    opacity: 0;
  }
  35.72% {
    opacity: 1;
  }
  36.98% {
    opacity: 1;
  }
  37% {
    opacity: 0;
  }
  37.6% {
    opacity: 0;
  }
  37.62% {
    opacity: 1;
  }
  67.98% {
    opacity: 1;
  }
  68% {
    opacity: 0;
  }
  68.4% {
    opacity: 0;
  }
  68.42% {
    opacity: 1;
  }
  95.98% {
    opacity: 1;
  }
  96% {
    opacity: 0;
  }
  96.7% {
    opacity: 0;
  }
  96.72% {
    opacity: 1;
  }
  98.98% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  99.6% {
    opacity: 0;
  }
  99.62% {
    opacity: 1;
  }
}
.fa-bus-simple {
  animation: vibrate 0.5s linear infinite both;
}

@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(-2px, -2px);
  }
  20% {
    transform: translate(2px, -2px);
  }
  30% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  50% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, -2px);
  }
  70% {
    transform: translate(-2px, 2px);
  }
  80% {
    transform: translate(-2px, -2px);
  }
  90% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
.artist__desc {
  margin: 20px auto;
  max-width: 470px;
}
@media (min-width: 992px) {
  .artist__desc {
    width: 100%;
  }
}
.artist__img {
  width: 250px;
  height: 220px;
  overflow: hidden;
  border-radius: 50%;
}
.artist__name {
  color: #273469;
  text-align: center;
  margin: 30px 0px;
}

.nosotros-section {
  text-align: justify;
}

.contact-form {
  row-gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact-form div {
  position: relative;
  width: 100%;
}
.contact-form div label {
  position: absolute;
  top: -28px;
  transition: all 0.3s ease-in;
}
.contact-form input:focus + .form-label {
  font-size: 18px;
  font-weight: 700;
  color: #273469;
}
.contact-form textarea:focus + .form-label {
  font-size: 18px;
  font-weight: 700;
  color: #273469;
}
.contact-youtube {
  height: 340px;
}
@media (min-width: 576px) {
  .contact-youtube {
    height: 400px;
  }
}
@media (min-width: 768px) {
  .contact-youtube {
    height: 500px;
  }
}
@media (min-width: 992px) {
  .contact-youtube {
    height: 700px;
  }
}
@media (min-width: 1200px) {
  .contact-youtube {
    height: 400px;
  }
}
.contact-youtube__text {
  margin: 10px 30px;
  text-align: center;
}
.contact-youtube__iframe {
  height: 250px;
}
@media (min-width: 576px) {
  .contact-youtube__iframe {
    height: 350px;
  }
}
@media (min-width: 768px) {
  .contact-youtube__iframe {
    height: 400px;
  }
}
@media (min-width: 992px) {
  .contact-youtube__iframe {
    height: 550px;
  }
}
@media (min-width: 1200px) {
  .contact-youtube__iframe {
    height: 350px;
  }
}

.search-bar {
  height: 32px;
}
@media (min-width: 768px) {
  .search-bar {
    height: 40px;
  }
}
.search-bar__filter {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 0.375rem;
  outline: none;
  height: 100%;
}

.fa-magnifying-glass {
  cursor: pointer;
}
@media (min-width: 768px) {
  .fa-magnifying-glass {
    font-size: 24px;
  }
}

@media (min-width: 992px) {
  .products-radios__desc {
    font-size: 18px;
  }
}

.form-check {
  padding: 0px;
}

.member__img {
  max-width: 250px;
  min-width: 200px;
}
.member__img-container {
  max-height: 230px;
  min-height: 200px;
  overflow: hidden;
}
.member__desc {
  text-align: justify;
}
.member__name {
  color: #273469;
  font-weight: 700;
}

.navbar {
  background-color: #E9E6E1;
}

@media (min-width: 2100px) {
  .navbar-nav {
    font-size: 2.25rem !important;
  }
}

.anchorDefault--underline::after {
  display: block;
  position: absolute;
  content: "";
  left: 50%;
  bottom: -1px;
  width: 0%;
  height: 3px;
  background-color: #273469;
  transition: 0.2s;
}
.anchorDefault--underline:hover::after {
  width: 100%;
  left: 0;
}

.carousel {
  position: relative;
}

@media (min-width: 768px) {
  .carousel-opacity {
    opacity: 0.8;
  }
}
@media (min-width: 1200px) {
  .carousel-item {
    position: relative; /*no se si estaba, borrar sino*/
    top: -50px;
  }
}
@media (min-width: 2100px) {
  .carousel-item {
    position: relative;
    top: auto;
  }
}
@media (min-width: 2100px) {
  .carousel-inner {
    height: auto;
  }
}
.card {
  border: none;
  border-radius: 25px;
  overflow: hidden;
  transition: all 0.5s;
  position: relative;
}

.card-text {
  text-align: center;
}
.card-text--price {
  font-size: 20px;
  color: green;
}
.card:hover {
  transform: scale(1.08);
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}
.card:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.card::after {
  transform: scaleX(0);
  transform-origin: bottom right;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: rgba(13, 14, 13, 0.055);
  z-index: 2;
  transition: transform 0.3s ease;
}

.btn--rubi, .btn--azure {
  border: none;
  padding: 10px 50px;
  font-weight: 700;
  transition: all 0.2s ease-in;
}

.btn--azure {
  background-color: rgb(166, 185, 218);
  color: #273469;
  border: 0.5px solid #273469;
}

.btn--rubi {
  background-color: floralwhite;
  color: #4a2802;
  border: 0.5px solid #4a2802;
}

.btn--azure:active {
  border: none;
}
.btn--rubi:active {
  border: none;
}
.btn--azure:hover {
  background-color: rgba(134, 140, 167, 0.1411764706);
  border: 2px solid #273469;
  font-size: 14px;
}
.btn--rubi:hover {
  background-color: #ffffff;
  border: 2px solid #4a2802;
  font-size: 14px;
}

button a {
  text-decoration: none;
  color: #fff;
}

button a:hover {
  color: #273469;
}

.btnCTA {
  position: absolute;
  top: 8%;
  display: none;
  font-size: 0.7rem;
  align-items: center;
  box-shadow: rgba(207, 204, 210, 0.852) 0 15px 30px -5px;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  letter-spacing: 0.4px;
  user-select: none;
  touch-action: manipulation;
  height: 34px;
  padding: 20px;
}
@media (min-width: 768px) {
  .btnCTA {
    display: flex;
  }
}
@media (min-width: 992px) {
  .btnCTA {
    font-size: 1rem;
    padding: 26px;
  }
}
@media (min-width: 1200px) {
  .btnCTA {
    padding: 34px;
  }
}
@media (min-width: 2100px) {
  .btnCTA {
    font-size: 2rem;
    padding: 38px;
  }
}
.btnCTA a {
  transition: all 200ms;
}
.btnCTA-2 {
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}
.btnCTA-1 {
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
}

.carousel-btn1--position {
  left: 16%;
}
@media (min-width: 1200px) {
  .carousel-btn1--position {
    left: 24%;
  }
}
.carousel-btn2--position {
  left: 48%;
}
@media (min-width: 1200px) {
  .carousel-btn2--position {
    left: 51%;
  }
}
@media (min-width: 2100px) {
  .carousel-btn2--position {
    left: 49%;
  }
}
.carousel-btn3--position {
  left: 65%;
}
@media (min-width: 1200px) {
  .carousel-btn3--position {
    left: 66%;
  }
}
@media (min-width: 2100px) {
  .carousel-btn3--position {
    left: 64%;
  }
}

/*# sourceMappingURL=styles.css.map */
