* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.nav{
    list-style:none ;
}

.fa-solid {
    font-size: 40px;
}

.prefooter-container p {
    width: 260px;
}

ul {
    list-style-type: none;
    padding: 0px;
    text-align: center;
    line-height: 1.5;
}

.boton-color-horrible {
    background-color: rgb(166, 185, 218);
    border: none;
    font-size: 16px;
    padding: 10px 50px;
    font-weight: 700;
}

.logo-container {
    width: 190px;
    height: 100px;
}
.logo {
    width: 100%;
}

.card {
    border: none;
}
.bgC-E8 {
    background-color: #E8E8E8;
}

.tarjetas {
    width: 100%;
}

/* .carousel-inner {
    height: 550px;
} */

h4, h1, h2, h3 {
    text-align: center;
    margin: 30px 0px;
}

p {
    text-align: center;
}

div h3 {
    color: #273469;
    font-size: 14px;
}

#footer-copyright {
    text-align: left;
}

.youtubeIframeCont {
    height: 340px;
}
.youtubeIframe {
    height: 250px;
}

.equipo-img {
    max-width: 250px;
    min-width: 200px;
}

.equipo-img-container {
    max-height: 230px;
    min-height: 200px;
    overflow: hidden;
}

.p-justify{
    text-align: justify;
}


.nosotros-section p{
    text-align: justify;
}

.artist-img-container {
    width: 250px;
    height: 220px;
    overflow: hidden;
    border-radius: 50%;
}

.productos-barraminimo,
.productos-barramaximo {
    background-color: #30343F;
    height: 6px;
    width: 150px;
}

.productos-rangoPrecios-maximo,
.productos-rangoPrecios-minimo {
    margin: 15px 0px;
}

.ckb-left,
.ckb-right {
    line-height: 1.5;
    margin: 15px 0px;
}

.card {
    box-shadow: 0px 0px 15px -8px black;
}

.card:hover {
    box-shadow: 0px 0px 15px 0px black;
}

.card:hover,
.btn:hover {
    cursor: pointer;
}
@media screen and (min-width:576px) {
    .youtubeIframeCont {
        height: 400px;
    }
    .youtubeIframe {
        height: 350px;
    }
}

@media screen and (min-width:768px) {
    .youtubeIframeCont {
        height: 500px;
    }
    .youtubeIframe {
        height: 400px;
    }
    .productos-barraminimo,
.productos-barramaximo {
    width: 250px;
}
}

@media screen and (min-width:992px) {
    .radios01 div,
    .radios02 div {
        font-size: 18px;
    }
    .youtubeIframeCont {
        height: 700px;
    }
    .youtubeIframe {
        height: 550px;
    }
}

@media screen and (min-width:1200px) {
    .youtubeIframeCont {
        height: 400px;
    }
    .youtubeIframe {
        height: 350px;
    }
    .carousel-item {
    position: absolute;
    top:-280px;
    }
    #lower1 {
        top:-180px;
    }
    #lower2 {
        top:-220px;
    }
    .carousel-inner {
        height: 550px;
    }
}

@media screen and (min-width:2100px) {
    .carousel-item {
        position: relative;
        top:auto;
    }
    #lower1 {
        top:auto;
    }
    #lower2 {
        top:auto;
    }
    .carousel-inner {
        height: auto;
    }
}