$cWhite:#ffffff;
$cStrongBlue:#273469;
$cDarkBlue:#06080e;
$cBtnRubi:rgb(44, 22, 2);
$cBtnRubiHover: #874800;
$bgcNav:#E9E6E1;
$bgcLightBlue:#868ca724;
$bgcBtnComun: #d5d5bd;
$bgcBtnComunHover:floralwhite;
$bgcBtnAzure:rgb(166,185,218);
$bgcBtnRubi:rgb(177, 140, 111);
$bgcBtnRubiHover:rgb(231,219,200);

$cardShadow:rgba(0, 0, 0, 0.35);
$cardAfter:rgba(13, 14, 13, 0.055);
$iconSizeLg:40px;
