$bgcNav:#E9E6E1;
$cWhite:#ffffff;
$bgcLightBlue:#868ca724;
$bgcBtnAzure:rgb(166,185,218);
$cStrongBlue:#273469;
$cDarkBlue:#06080e;
$cardShadow:rgba(0, 0, 0, 0.35);
$cardAfter:rgba(13, 14, 13, 0.055);
$iconSizeLg:40px;
