@import "../utils/mixins";

.search{
    &-bar {
        height: 32px;
        @include b768 {
            height: 40px;
        }
    }
    &-bar__filter {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        border-radius: 0.375rem;
        outline: none;
        height: 100%;
    }
};

.fa-magnifying-glass {
    @include b768 {
        font-size: 24px;
    }
};

.products-radios__desc {
    @include b992 {
        font-size: 18px;
    }
};

.form-check {
    padding:0px
}