@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Serif+Pro:ital,wght@0,600;1,600&display=swap');
@import "../utils/variables";

* {
    font-family: 'Montserrat', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
ol, ul {
    list-style: none;
}
.btn {
    border:none;
}
body {
    background-color: $bgcLightBlue;
}

.prefooter-section,
.artist__name,
.member__name {
    color: $cStrongBlue;
}

.prefooter-section__text {
    text-align:center;
    width: 260px;
}

.ulDefault {
    list-style-type: none;
    padding: 0px;
    text-align: center;
    line-height: 1.5;
}

.anchorDefault {
    text-decoration: none;
    position: relative;
}

.artist__name,
.member__name {
    font-size: 18px;
}

.card:hover,
.btn:hover {
    cursor: pointer;
}

.titleDefault,
.footer__subtitle,
.artist__name,
.prefooter__subtitle {
    text-align: center;
    margin: 30px 0px;
}