@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Alfa+Slab+One&display=swap");
@import "../utils/variables";

* {
    font-family: 'Montserrat', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
ol, ul {
    list-style: none;
}

body {
    background-color: $bgcLightBlue;
}

h1:first-child {
    /* color: #2B475C; */
    /* color: #43749d; */
    color: #392C5C;
    width: fit-content;
    padding: 20px;
    margin: 30px auto;
    text-shadow: 2px 2px #2B475C;
    font-family: "Alfa Slab One", cursive;
  }

.ulDefault {
    padding: 0px;
    text-align: center;
    line-height: 1.5;
}

.anchorDefault {
    text-decoration: none;
    position: relative;
}

.titleDefault {
    text-align: center;
    margin: 30px 0px;
}

