.member__img {
    max-width: 250px;
    min-width: 200px;
}

.member__img-container {
    max-height: 230px;
    min-height: 200px;
    overflow: hidden;
}

.member__desc {
    text-align: justify;
}