@import "../utils/variables";

.footer__{
    &tarjetas {
        width: 100%;
    }
    &copyright {
        text-align: left;
        padding: 20px 0px 10px 0px;
    }
    &subtitle{
        font-size: 1.5rem;
        text-align: center;
        margin: 30px 0px;
    }
    &links {
        text-decoration: none;
        color: $cWhite;
    }
    &links:hover {
        color: $cWhite;
    }
}
.footer {
    background-color:$cDarkBlue;
    color: $cWhite;
}