@import "../utils/variables";

.btn--azure {
    background-color: $bgcBtnAzure;
    border: none; /*SASS OK*/
    font-size: 16px;
    padding: 10px 50px;
    font-weight: 700;
}

.btn--azure:hover {
    background-color: $bgcLightBlue;
    color: $cStrongBlue;
}