@import "../utils/variables";

.card {
    border: none;
    border-radius: 25px;
    overflow: hidden;
    transition: all 0.5s;
    position: relative;
    height: 90%;
}

.card {
    &-text {
        text-align:center;
    }
    &-text--price {
        font-size: 20px;
        color: green;
    }
    &:hover {
        transform: scale(1.08);
        box-shadow: 0 0 20px 0px $cardShadow;
        cursor: pointer;
    }
    &:hover::after{
        transform: scaleX(1);
        transform-origin: bottom left;
    }
    &::after {
        transform: scaleX(0);
        transform-origin: bottom right;
        content: "";
        display: block;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        inset: 0 0 0 0;
        background: $cardAfter;
        z-index: 2;
        transition: transform .3s ease;
}
};